.img {
    height: 200px;
    width: 200px;
    position: absolute;
}
.img--center {
    text-align: center;
}
.p {
    color: #ef4;
}
.mom.index {
    color: coral;
    border-radius: 6px;
}
.mom {
    font-size: 12px;
    font: Avenir;
    color: green;
}
.btn {padding: 15px 30px;cursor: pointer;border: 0;width: 30%;text-align: center;border-radius: 4px;color: green;text-transform: uppercase;font-size: 28px;font-weight: 800;transition: opacity 0.5s;display: block;}
#dad {
    font-size: 12px;
    font: Avenir;
    color: green;
    padding-top: 10px;
    -webkit-transition: opacity 0.5, width 1s;
    -moz-transition: opacity 0.5, width 1s;
    -ms-transition: opacity 0.5, width 1s;
    -0-transition: opacity 0.5, width 1s;
    transition: opacity 0.5, width 1s;
}
